services:
  postgres:
    image: postgres:16-alpine
    container_name: social_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: social_api
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3000:3000"
      - "51212:51212"
    command: >
      sh -c "
      npx prisma generate &&
      npx prisma migrate deploy &&
      node dist/src/main.js
      "

volumes:
  postgres_data:
