version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: social_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: social_api
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "3000:3000"
    command: sh -c "npx prisma migrate deploy && node dist/main.js"

volumes:
  postgres_data:
